.app {
  font-size: 18px;
  background: linear-gradient(to right, green, yellow, orange, red);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  gap: 20px;
}
